apiVersion: v1
kind: Secret
metadata:
  name: crossplane-provider-zpa
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "zpa_client_id": "client_id",
      "zpa_client_secret": "client_secret",
      "zpa_customer_id": "customer_id",
      "zpa_cloud": "" # [PRODUCTION BETA GOV PREVIEW]
    }